<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalesApp_Alpha_2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalesApp_Alpha_2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SalesApp_Alpha_2.Properties.Settings>
            <setting name="StringConnectionMySQL" serializeAs="String">
                <value>Server=Localhost; Database=saeximplementation1; Uid=root; Pwd=220718;</value>
            </setting>
        </SalesApp_Alpha_2.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SalesApp_Alpha_2.Properties.Settings>
            <setting name="MessageForEachAction" serializeAs="String">
                <value>True</value>
            </setting>
        </SalesApp_Alpha_2.Properties.Settings>
    </userSettings>
</configuration>